<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushAutoRegistrationEnabled</key>
	<true/>
	<key>pushAPIURL</key>
	<string>http://cfms-push-service-dev.main.vchs.cfms-apps.com/v1/</string>
	<key>pushDeviceAlias</key>
	<string>Default Device Alias</string>
	<key>productionPushReleaseSecret</key>
	<string>603ebaf5-3ef6-4465-a119-5f0b80cc7443</string>
	<key>productionPushVariantUUID</key>
	<string>ada50420-640d-43a3-8bb0-6fd0e0b212ba</string>
	<key>developmentPushReleaseSecret</key>
	<string>603ebaf5-3ef6-4465-a119-5f0b80cc7443</string>
	<key>developmentPushVariantUUID</key>
	<string>ada50420-640d-43a3-8bb0-6fd0e0b212ba</string>
	<key>analyticsAPIURL</key>
	<string>http://ANALYTICSAPIURL.com</string>
	<key>productionAnalyticsKey</key>
	<string>ANALYTICS-KEY</string>
	<key>developmentAnalyticsKey</key>
	<string>ANALYTICS-KEY</string>
</dict>
</plist>
