<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.serviceUrl</key>
	<string>http://testURL.com</string>
    <key>pivotal.push.iosPlatform.uuid.development</key>
    <string>DEV-SOS-WE-LIKE-IT-SPICY</string>
    <key>pivotal.push.iosPlatform.secret.development</key>
    <string>DEV Put sweet chili sauce on everything</string>
    <key>pivotal.push.iosPlatform.uuid.production</key>
    <string>PROD-SOS-WE-LIKE-IT-SPICY</string>
	<key>pivotal.push.iosPlatform.secret.production</key>
	<string>PROD Put sweet chili sauce on everything</string>
</dict>
</plist>
